@media screen and (max-width: 900px){
    .head-content{
        position: relative;
    }
    .list-travel{
        width: 0;
        order: 1;
        width: 10%;
    }
    .list-travel i{
        cursor: pointer;
        transition: 0.3s;
        z-index: 99999999;
        position: absolute;
        display: block;
        top: 50%;
        transform: translatey(-50%);
        right: 3rem;
    }
    .list-travel i:hover{
        opacity: 0.6;
    }
    .list-travel ul{
        background-color: #242424;
        position: absolute;
        z-index: 99999999;
        display: none;
        transition: 0.5s;
        top: 130%;
        border-radius: 1rem;
    }
    .list-travel ul::before{
        content: '';
        border-bottom: 1rem solid #242424;
        border-right: 1rem solid transparent;
        border-left: 1rem solid transparent;
        border-top: 1rem solid transparent;
        position: absolute;
        top: -10%;
        right: 5%;
    }
    .hide{
        display: block !important;
    }
    .list-travel ul li{
        width: auto;
    }
    .sliders{
        margin-top: 4rem;
    }
    .head-left{
        width: 40%;
    }
    .head-right{
        width: 40%;
    }
}
@media screen and (max-width: 800px){
    html{
        font-size: 40%;
    }
}
@media screen and (max-width: 700px){

    .head-content .box-search{
        width: 80%;
        margin: 1rem;
    }
    
    .head-content .sign-box{
        width: 60%;
        margin: 1rem;
    }
    .head-content .sign-box button{
        font-size: 1.2rem;
    }
    .head-content .drop-down{
        margin: 1rem;
    }
    .tours-list{
        justify-content: center;
        flex-wrap: wrap;
    }
    .tours-list .tour{
        margin: 2rem;
        width: 100%;
    }
    .promote-list{
        justify-content: center;
    }
    .promote-list .promote{
        width: 100%;
    }
}